.social-container {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //margin-left: -190px;
  //margin-top: -50px;
  //width: 380px;
  //height: 60px;
}
.social-container .links {
  //margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
}
.social-container .links a {
  margin: 0 20px;
  color: #ccc;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0px 2px 3px #fff;
}
.social-container .links a:hover {
  color: #ED452A;
}

.footer-menu {
  float:right;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;

  a {
    padding-left: 25px;
  }
}