<!DOCTYPE html>
<html>
<head>
  <title>Dude</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>[here is the same header on all pages]</p>
<br><br>

<%= yield %>

<br><br>
<p>[here is the same footer on all pages]</p>
</body>
</html>
